@mixin desktop {
  @media (min-width: 64rem) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}

@mixin font(
  $font-size: "",
  $line-height: "",
  $font-weight: "",
  $letter-spacing: "",
  $color: ""

) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  color: $color;
  font-family: "Source Sans 3", sans-serif;
  text-decoration: none;
}

