@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@mixin desktop {
  @media (min-width: 64rem) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 48rem) {
    @content;
  }
}

@mixin font($font-size: "",
  $line-height: "",
  $font-weight: "",
  $letter-spacing: ""

) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-family: "Source Sans 3", sans-serif;
}

