

// -------------- Text -------------- //

$base-text-color: #7E7E7E;
$dark-text-color: #4C4C4C;
$light-text-color: #9B9B9B;
$feature-text-color: #8200FF;

// ----------- Background ----------- //

$base-background-color: #FFFFFF;
$light-background-color: #F5F5F5;
$header-background-color: #8200FF;