

// -------------- Text -------------- //

$base-text-color: #7E7E7E;
$light-text-color: #9B9B9B;
$dark-text-color: #4C4C4C;
$darker-text-color: #333333;
$feature-text-color: #8200FF;
$dark-feature-text-color: #6814b8;
$white-text-color: #FFFFFF;

// ----------- Background ----------- //

$base-background-color: #FFFFFF;
$light-background-color: #F5F5F5;
$header-background-color: #8200FF;

// ------------ Borders ------------- //

$light-border-color: #b1b1b1;
$lighter-border-color: #e9e9e9;