@import "../../../sass/_variables.scss";

.sliderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  [data-slider] {
    height: 100%;
    width: calc(100% - 55px);
    max-width: 400px;
    background-color: $base-background-color;

    [data-slider-header] {
      background-color: $header-background-color;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      [data-close-icon] {
        width: 18px;
        height: 18px;
        position: absolute;
        right: 17px;
        top: 17px;
        color: $white-text-color;
      }
    }
  }
}
