@import "../../../sass/scaffold";

.breadcrumb {
  
    [data-breadcrumb-list] {
      display: flex;
      align-items: center;
      list-style: none;
      
      
      @include font(14px, 20px, 400, 0);
    }
}