@import "../../../sass/scaffold";

.breadcrumb {
  [data-breadcrumb-list] {
    border-bottom: 1px solid $light-border-color;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 8px;
    margin: 0;
    padding: 16px 0;

    [data-breadcrumb-item] {
      color: $dark-feature-text-color;
      [data-breadcrumb-link] {
        text-decoration: none;
        @include font(14px, 20px, 400, 0, inherit);
      }
      &[data-current="true"] {
        pointer-events: none;
        [data-breadcrumb-link] {
          font-weight: 600;
        }
      }
    }

    [data-breadcrumb-item]:not(:last-child)::after {
      content: "/";
      margin-left: 8px;
    }
  }
}
